.addToCart_button{
    background-color: rgb(227 160 8);
    clip-path: polygon(0 0, 100% 5%, 90% 42%, 100% 95%, 0 100%, 10% 56%);
    color: white;
    padding: 5px 38px;
    font-size: larger;
    position: absolute;
    bottom: -1.2rem;
}

.food_box:hover {
    .addToCart_button {
        display: block;
    }
}