services:

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.13.2
    networks:
      - main
    ports:
      - "5672:5672"
    restart: always
  
  postgres:
    container_name: postgres
    image: postgres:16.3
    environment:
      - POSTGRES_DB=foodd_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - main
    ports:
      - "5432:5432"
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

  celery_worker:
    container_name: celery_worker
    command: "celery -A foodd worker -l INFO"
    depends_on:
      - app
      - rabbitmq
      - postgres
    build: .
    environment:
      - C_FORCE_ROOT="true"
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672
    networks:
      - main
    restart: always

  app:
    build: . 
    command: sh -c "python manage.py migrate && gunicorn foodd.wsgi:application --bind 0.0.0.0:8000"
    container_name: app
    volumes:
      - .:/Backend/
    depends_on:
      - postgres 
      - rabbitmq
    expose:
      - "8000"
    networks:
      - main
    restart: always
    environment:
      - POSTGRES_DB=foodd_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - RABBITMQ_HOST=rabbitmq
      - RABBITMQ_PORT=5672

  nginx:
    container_name: nginx
    command: nginx -g 'daemon off;'
    depends_on: 
      - app
    image: nginx:1.25.5
    networks:
      - main 
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf 

  react:
    build: 
      context: ../Frontend
      dockerfile: dockerfile
    volumes:
      - ../Frontend:/app 
    ports:
      - "3000:3000"
    networks:
      - main
    restart: always

networks:
  main:
volumes:
  postgres_data: