.slider-item {
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    transition-delay: 2s;
    user-select: none;
}

@keyframes example {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width : 421px) {
    .landing-container {
        height: 18rem;
    }

    .leaf_slider {
        top: 3rem;
        right: 6rem;
    }

    .mushroom_slider {
        top: 1rem;
        left: 4rem;
    }

    .pepper_slider {
        right: 6rem;
        bottom: .2rem;
    }
}

@media screen and (max-width : 480px) and (min-width : 422px) {
    .landing-container {
        height: 20rem;
    }

    .leaf_slider {
        top: 3rem;
        right: 7rem;
    }

    .mushroom_slider {
        top: 1rem;
        left: 4rem;
    }

    .pepper_slider {
        right: 6.5rem;
        bottom: .2rem;
    }
}

@media screen and (max-width : 599px) and (min-width : 481px) {
    .landing-container {
        height: 24rem;
    }

    .leaf_slider {
        top: 3rem;
        right: 9.6rem;
    }

    .leaf_slider img {
        width: 5rem !important;
    }

    .mushroom_slider {
        top: 1rem;
        left: 4rem;
    }

    .mushroom_slider img {
        width: 2.5rem !important;
    }

    .pepper_slider {
        right: 10rem;
        bottom: .2rem;
    }

    .pepper_slider img {
        width: 3rem !important;
    }
}

@media screen and (max-width : 767px) and (min-width : 600px) {
    .landing-container {
        height: 25rem;
    }

    .leaf_slider {
        top: 3rem;
        right: 12rem;
    }

    .leaf_slider img {
        width: 6.5rem !important;
    }

    .mushroom_slider {
        top: 1rem;
        left: 4rem;
    }

    .mushroom_slider img {
        width: 2.5rem !important;
    }

    .pepper_slider {
        right: 12rem;
        bottom: .2rem;
    }

    .pepper_slider img {
        width: 3rem !important;
    }

}

@media screen and (max-width : 1279px) and (min-width : 768px) {
    .landing-container {
        height: 40rem;
    }

    .leaf_slider {
        top: 3rem;
        right: 16rem;
    }

    .leaf_slider img {
        width: 10rem !important;
    }

    .mushroom_slider {
        top: 1rem;
        left: 6rem;
    }

    .mushroom_slider img {
        width: 2.5rem !important;
    }

    .pepper_slider {
        right: 18rem;
        bottom: .5rem;
    }

    .pepper_slider img {
        width: 4rem !important;
    }
}

.pizza_time {
    background-image: url("../../../public/images/pizza_slider_03.png");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-clip: border-box;
}