.orderby {
    padding: 10px 20px 10px 30px;
    direction: rtl;
    border-radius: 50px;
    outline: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
}

.divSelect {
    color: rgba(0, 0, 0, 0.475);
}

.divSelect::after {
    content: ">";
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: 20px;
    z-index: -1;
    position: absolute;
    top: 13px;
}

.orderby option {
    background-color: rgb(238, 238, 238);
}
